body{
	padding-top: 60px;
}

//selected row color//

.selected{
	color: black;
}

.navbar{
	margin: 0px;
	border: none;
	min-height: 60px;
	box-shadow: 0px 2px 5px 0px #ccc;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	.navbar-nav {
		margin-top: 0px;
		margin-bottom: 0px;
		> li > a{
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

table#hometable tr{
	cursor: pointer;
}