#sub_nav {
  background: none;
  border: none;
  margin-bottom: 0px;
  position: fixed;
  left: 1px;
  .menu-darkgreen45{
    padding:0px;
    li a{
      padding:10px;
    }

    button{
      margin-top: 20px;
      padding: 0px 10px;
    }
  }
}

#rubix-nav-header #main-menu{
  padding: 15px 10px;
  ul{
    width: 350px;
  }
}

#notification_btn{
  position: fixed;
  right:  20px;
  bottom: 30px;
}


#notification_modal{
  right: 5px;
  bottom: 50px;
  left: inherit;
  top: inherit;
  .modal-body{
    height: 300px;
    overflow-y: scroll;
  }
}