#rubix-nav-header #sub_nav {
  background: none;
  border: none;
  margin-bottom: 0px;
  position: fixed;
  left: 1px;
  box-shadow: none;
  
  .navbar-header{
    @media (max-width: $screen-md) {
      float:left;
    }
  }

  .navbar-nav{
    @media (max-width: $screen-md) {
      margin-left:25px;
    }

    @media (max-width: 420px){
      display: none;
    }
    li{
      @media (max-width: $screen-md) {
        float:left;
      }
      a{
        @media (max-width: $screen-md) {
          padding: 25px 10px;
        }
      }
    }
  }
  .menu-darkgreen45{

    padding:0px;
    li a{
      padding:10px;
      text-transform: capitalize;
    }

    button{
      margin-top: 20px;
      padding: 0px 10px;
    }
  }

  #search-menu{
    margin-left:30px;
  }

  #search_nav{
    margin-left: 25px;
  }
}

#rubix-nav-header{
  @media(min-width: $screen-md){
    margin-left:0px !important;
  }
  
  @media(max-width: $screen-md){
    background: none !important;
    box-shadow: none;
  }
  #main-menu{
    padding: 15px 10px;
    z-index: 1100;
    ul{
      width: 350px;
    }

    @media (max-width: $screen-md) {
      text-align:right;
    }

    & + .dropdown-menu{
      @media (max-width: $screen-md) {
        background: white;
        position: relative;
      }
      .rubix-icon{
        margin-right:10px;
      }
    }
  }
}

#body{
  @media(min-width: $screen-md){
    margin-left: 0px !important;
    margin-top: 0px !important;
  }

  @media(max-width: $screen-md){
    margin-top: 0px !important;
  }

  & > div{
    @media(max-width: $screen-md){
      padding-top: 0px !important;
    }
  }
}

html.touchevents #body{
  & > div{
    @media(max-width: $screen-md){
      padding-top: 120px !important;
    }
  }  
}
.notification_btn{
  position: fixed;
  right:  20px;
  bottom: 30px;
}

#notification_btn{
  padding: 9px 10px 7px 11px !important;
}
#notification_modal{
  right: 5px;
  bottom: 50px;
  left: inherit;
  top: inherit;
  .modal-body{
    height: 300px;
    overflow-y: scroll;
  }
}

.open1{
  #sub_nav_btn + .dropdown-menu{
    display:none;
  }
}

.close1{
  #sub_nav_btn + .dropdown-menu{
    display:block;
  }
}

#mbl_nav_btn{
  font-size:35px;
}

#main-chart{
  button{
    position:absolute;
    bottom: 5px;
  }
}

ul.messenger.messenger-fixed.messenger-on-right, ul.messenger.messenger-fixed.messenger-on-left{
  @media(max-width: $screen-xs){
    width: 80%;
  }
}

#search_modal{
  .modal-body{
    height: 300px;
  }
}